*.metadata/
*.settings/
*.mcuxpressoide_packages_support/
*.vscode

**/.project
**/.cproject

*.o
*c-main
*main

!**/MCU_commons/*

**/AzureRTOS_TAD_logs/
**/FreeRTOS_TAD_logs/
**/RemoteSystemsTempFiles/

*.launch
*Debug/
